@import "../../../../style/hz/variable.less";

/**
 **@Description:
 **@author: leo
 */

.content {

}

.title {
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    .col {
        padding: 28px 0;
    }

    .box {
        margin-left: 30%;
        border-right: 1px solid #E3E3E3;
        height: 100px;
    }

    .item {
        margin-bottom: 20px;
    }
    .extrude {
        font-weight: bold;
        font-size: 14px;
        color: #333333;
        line-height: 14px;
    }

    .centerBox {
        text-align: center;
        margin: auto;
        border-right: 1px solid #E3E3E3;
        height: 100px;
        padding-top: 24px;
    }

    .rightBox {
        text-align: center;
        margin: auto;
        height: 100px;
        padding-top: 24px;
    }
}

.companyTitleBar {
    background: @color-bg-default;
    padding: 20px;
    margin-top: 20px;
}

.companyTitle {
    font-size: 14px;
    font-weight: 800;
    color: #333;
}

.formRow {
    margin-top: 30px;
}

.formLeft {
    text-align: right;
}

.rightBtn {
    margin: 0 20px;
    color: #4391FF;
    cursor: pointer;
}