/*
 * @Author: sunlizhi 
 * @Date: 2018-12-07 11:24:29 
 * @Last Modified by: sunlizhi
 * @Last Modified time: 2018-12-12 14:57:14
 */

.contentEditor {
    border: 1px solid #E6E9EB;
    border-radius: 2px;
    padding: 16px;
    padding-bottom: 0;
    width: 468px;
    color: #0D1A26;
    .contentEditorName {
        padding-left: 8px;
        padding-bottom: 8px;
        line-height: 22px;
    }
}

