@import "~style/utils.less";

@tipColor: #999;

.container {
    .service {
        color: @tipColor;
        text-align: right;
    }

    .column {
        //width: 20%;
    }

    .info {
        .icon {
            width: 30px;
            height: 30px;
            object-fit: cover;
        }
        .name {
            margin-left: 10px;
        }
    }

    .allow {
        margin-bottom: 16px;
        .tip {
            color: @tipColor;
        }
    }

    .operate {
        color: #4492FF;
        cursor: pointer;
        min-width: 80px;
    }
}

.confirmTitle {
    margin: 20px 0 10px;
}

