
.table {
    margin-top: 16px;
}
@margin_ctrl:8px 12px !important;
.popover_content{
    font-family: MicrosoftYaHei;
    width: 320px;
    font-size: 12px;
    margin: -12px;
    .popover_content_title{
        color: #0D1A26;
        margin: @margin_ctrl;
    }
    p,pre{
        color: #556675; 
        margin: @margin_ctrl;
    }
    .contentEditorName{
        margin: @margin_ctrl;
        b{
            font-weight: 400;
            color: #0D1A26;
        }
    }
    .popover_content_bottom{
        display: block;
        height: 46px;
        line-height: 46px;
        border-top: solid 1px #E6E9EB;
        margin: 0 -4px;
        padding: 0 16px;
        i{
            display: block;
            float: right;
            line-height: 46px;
            color: #556675

        }
    }

}