@import "~wx/style/common.less";

.autoReplyModal{
    .require{
        color: #f00;
    }
    .checkbox{
        margin-bottom: 10px;
    }
    .tableWrap{
        margin: 14px 0;
        .canEdit{
            color: @primary-color;
            cursor: pointer;
        }
        .editColumn{
            span{
                margin-right: 14px;
            }
        }
    }
}