.whiteList{
    .tableWrap {
        .nickname, .uin, .deptColumn, .forStaff, .forUin {
            width: 20%;
        }
    }
    :global{
        .ant-modal-body{
            padding-bottom: 60px;
        }
        .ant-modal-body{
            max-height: 500px;
            overflow-y: scroll;
        }
    }
}