@import "~community/style/common";

.wrapper {
    .title {
        color: @font-size-color-light;
        font-size: 14px;
        margin: 6px 0 16px;
        .label {
            color: #252A00;
        }
    }
    .btns {
        line-height: 38px;
        button {
            width: 80px;
            &:first-child {
                margin: 0 16px;
            }
        }
    }
}
