@import "../../../../style/common";

.questionCircle {
    color: @primary-color;
    margin-left: 5px;
}

.btns{
    :global{
        .ant-btn{
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}