@import "~community/style/common.less";

.autoReplyKeyword {
    .tableWrap{
        .keywordColumn{
            width: 20%;
            .ellipsisOver{
                max-width: 100%;
            }
        }
        .column {
            width: 15%;
        }
    }
}


