@import "../common.less";

.map {
    width: 240px;
    border-radius: 2px;

    .link {
        padding: 8px;
    }
    .title {
        color: #556675;
    }

    .extWrap {
        height: 80px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}