@import "~data/style/index";

.service {
    padding: 0 24px;
    .viewWrap {
        margin-top: 24px;
        .filterType {
            display: flex;
            justify-content: space-between;

            .questionCircle {
                cursor: pointer;
                color: #4391FF;
                padding-left: 12px;
                font-size: 14px;
            }

            .export {
                float: right;
                line-height: 32px;
                padding: 0 15px;
                text-decoration: none;
                border: 1px solid $primary-color;
                border-radius: 2px;
                color: $primary-color;
            }
        }
        .tableWrap {
            margin: 24px 0;
        }
    }

}

