.main {
    height: 100%;
    overflow: auto;
    text-align: center;
    .loseImg {
        width: 667px;
        height: 342px;
        margin: 150px auto 0 auto;
        text-align: center;
    }
    .title {
        text-align: center;
        margin: 122px auto 69px auto;
        font-size: 36px;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
    }
    .btn {
        width: 170px;
        height: 48px;
        background: rgba(33, 174, 255, 1);
        border-radius: 24px;
        margin: 0 auto 100px auto;
        line-height: 48px;
        font-size: 18px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        display: inline-block;
    }
}