.content_banner{
    :global{
        span.ant-radio + *{
            padding-left: 2px !important;
            padding-right: 2px !important;
        }
    }
}

.lable{
    width: 84px;
    float: left;
    height: 34px;
    text-align: right;
    line-height: 34px;
}

.lable_right{
    float: left;
}
.textAreaCount_bottom{
    p{
        bottom: -4px !important
    }
}