.right_img{
    display: block;
    margin-left: 420px;
    margin-top: 24px;
    max-width: 1210px;
    section{
        width: 264px;
        margin: 0 auto;
        img{
            display: block;
            height: 530px;
            width: 264px;
            border: none;
        }
        p{
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            color: #666;
        }
    }
    
}
.qrcode_content{
    overflow: hidden;
}