.main {
    padding: 0;

    .table {
        padding-top: 24px;
    }

    .option{
        margin-top: 24px;
    }

    .operator {
        width: 200px;
    }

    .operatorBtn {
        color: #4391ff;
        cursor: pointer;
    }
}
