.main {
    padding-bottom: 20px;

    .helpBar {
        padding-top: 24px;
        display: flex;
        align-items: center;
        .btn{
            margin-right: 20px;
        }
        .right{
            margin-left: auto;
        }
    }

    .msg{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: space-around;
        .head{
            width: 50px;
            margin-right: 8px;
        }
    }

    .operate{
        color: #4391FF;
        cursor: pointer;
    }

    .sensitiveWord{
        color: red;
    }

    .batteryWarn{
        color: red;
    }

    .table {
        padding-top: 24px;
    }
}
