.blockBox{
    padding: 20px;
    border: 1px solid #E6E9EB;
    border-radius: 2px; 
    margin-bottom: 16px;
    p{
        margin-bottom: 0;
        text-align: left;
    }
    :global{
        .ant-form-item{
            margin-bottom: 0;
        }
        .ant-form-item-children{
            input{
                margin-right: 24px;
            }
        }
        .ant-input-number,.ant-input{
            border-color:#E6E9EB;
        }
    }
    .name{
        font-family: 'MicrosoftYaHei-Bold';
        font-size: 16px;
        color: #0D1A26;
        text-align: left;
        font-weight: bold;
    }
    .tips{
        margin-top: 16px;
        margin-bottom: 6px;
        text-align: left;
    }
    .explanation{
        font-family: 'MicrosoftYaHei';
        font-size: 14px;
        color: #556675;
        line-height: 20px;
        margin: 16px 0;
    }
    .totalMoney{
        color: #F35D51;
        font-size: 18px;
        font-weight: bold;
    }
    .discountMoney{
        color: #F35D51;
    }
}
footer{
    padding-bottom: 50px; 
}
.marginBtmNone{
    margin-bottom: 0;
}
.payModel{
    p{
        text-align: left
    }
    .payTip{
        color:#000;
        margin-left: 8px;
        font-weight:bold;
    }
}
.bold{
    color: #000;
    font-weight: bold;
}