.matchContents {
    margin-top: 20px;
    .des{
        width: 96%;
    }
    .mark{
        line-height: 32px;
    }
    .required{
        color: red;
    }
    .leftTip{
        text-align: right;
        line-height: 30px;
    }
    .row{
        margin-bottom: 20px;
    }
    .select, .input{
        width: 96%;
    }
    .operatorBtn {
        color: #4391FF;
        cursor: pointer;
    }
    .operator{
        width: 200px;
    }
}
