.FreeIndex{
    div{
        height:400px;
        overflow: hidden;
    }
    .redpacket{
        width: 850px;
        margin: 0 auto;
        height: 400px;
        background: url(../assets/images/Bitmap1.png) no-repeat center left;
        background-size: 306px 289px;
        padding-left: 490px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .friends{
        width: 850px;
        margin: 0 auto;
        height: 400px;
        background: url(../assets/images/Bitmap2.png) no-repeat center right;
        background-size: 306px 289px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .interact{
        width: 850px;
        margin: 0 auto;
        height: 400px;
        background: url(../assets/images/Bitmap3.png) no-repeat center left;
        background-size: 306px 289px;
        padding-left: 490px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .groupMass{
        width: 850px;
        margin: 0 auto;
        height: 400px;
        background: url(../assets/images/Bitmap4.png) no-repeat center right;
        background-size: 306px 289px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .qrcode{
        width: 850px;
        margin: 0 auto;
        height: 400px;
        background: url(../assets/images/Bitmap5.png) no-repeat center left;
        background-size: 306px 289px;
        padding-left: 490px;
        box-sizing: border-box;
        overflow: hidden;
    }
    div:nth-child(2n){
        background: rgba(248,249,255,1);
    }
    .title{
        font-size:30px;
        font-family:'MicrosoftYaHei-Bold';
        font-weight:bold;
        color:rgba(67,145,255,1);
        text-align: center;
        margin-top: 40px;
        margin-bottom: 16px;
    }
    .name{
        margin-top: 84px;
        margin-bottom: 10px;
        font-size:30px;
        font-family:'MicrosoftYaHei-Bold';
        font-weight:bold;
        color:rgba(67,145,255,1);
    }
    .Desc{
        font-size:18px;
        font-family:'MicrosoftYaHei';
        color:rgba(13,26,38,1);
        margin-bottom: 10px;
    }
    .info{
        font-size:16px;
        font-family:'MicrosoftYaHei';
        color:rgba(102,102,102,1);
        line-height:25px;
    }
    a{
        font-size: 14px;
    }
    .vedioIcon{
        margin-left: 8px;
        width: 20px;
    }
}