.wrapper {
    :global {
        .ant-modal {
            padding-bottom: 0;
        }
        .ant-modal-content {
            width: 910px;
        }
        .ant-modal-body {
            padding-bottom: 0;
        }
    }
    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
