.edit{
    color: #4391FF;
    cursor:pointer;
}
.rise{
    color: #FA8C16 ;
}
.decline{
    color: #666;
}
.income{
    padding: 24px 0;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #666666;
    span:first-child{
        i{
            color: #FA8C16 ;
            margin-right: 48px;
            font-style: normal;
        }
    }
}