@import "~style/hz/variable.less";

.newQuestion{
    .contents{
        .required{
            color: #f00;
        }
        .canEdit{
            color: @color-primary;
            cursor: pointer;
        }
        .formItemRemind{
            margin-left: 10px;
            margin-bottom: 12px;
            color: #999;
        }
        .btnBar{
            margin-top: 20px;
            .btn{
                margin-right: 20px;
            }
        }
        .table{
            .contentColumn{
                word-break: break-all;
            }
        }
    }
}
