.watermark {
    .mark {
        font-size: 12px;
        color: #a9a3a3;
        margin-left: 8px;
    }
    .code{
        margin-top: 10px;
    }
    .wxMark{
        color: #008000;
        cursor: pointer;
    }
    .preview{
        width: 100%;
        border: 1px solid #000;
    }
    .error{
        width: 320px;
        height: 500px;
        text-align: center;
        line-height: 500px;
        border: 1px solid #000;
        color: red;
    }
    .loading{
        width: 320px;
        //height: 500px;
        text-align: center;
        //line-height: 500px;
        //border: 1px solid #000;
    }
    .previewWarp{
        width: 320px;
        margin-left: 100px;
    }
}