.content {
    .box {
        display: inline-block;
    }

    .sp {
        display: inline-block;
        margin: 0 14px;
        line-height: 40px;
    }

    .afterRender {
        display: inline-block;
        margin: 0 14px;
        line-height: 40px;
    }

    .addBtn {
        margin: 4px 0 0 14px;
    }
}
