/**
 **@Description:
 **@author: leo
 */


.content{

}

.formRow{
    margin-top: 30px;
}

.divider{
    margin: 30px 0 0 0;
}

.formLeft{
    text-align: left;
}

.rightBtn{
    margin: 0 20px 0 0;
}

.rightChange{
    margin-left: 10px;
    color: #4391FF;
    cursor: pointer;
}