@import "../common.less";

.video {
    display: inline-block;
    user-select: none;
    margin-top: 8px;

    .cover {
        object-fit: cover;
        cursor: pointer;
        border-radius: 4px;
    }
}