@import "../../../style/base";

.groupTasks {
    margin: 0 30px 20px;
    .name {
        margin-top: 10px;
        font-weight: 700;
        font-sizE: 16px;
    }
    .timeFormItem {
        :global {
            .ant-form-item-children {
                white-space: nowrap;
            }
            .dateRange {
                display: inline-flex;
                align-items: center;
            }
            .ant-calendar-picker {
                flex: 1;
                .ant-input {
                    width: 100%;
                    min-width: 140px;
                }
            }
        }
    }
    .operate {
        cursor: pointer;
    }
    .cancel {
        color: #999;
    }

    .detail {
        color: $primary-color;
    }
}
