
.tip {
    text-align: center;
}

.form {
    .prefixIcon {
        font-size: 16px;
        color: rgba(0, 0, 0, .25);
    }

    .authCode {
        :global {
            .ant-btn {
                border: none;
            }
        }

    }

    .code {
        color: #4391FF;
    }
}
