@import "../../../style/common";

.addActivity{
    padding: 40px;
    .row{
        display: flex;
        align-items: flex-start;
        margin-bottom: 60px;
        .txt{
            width: 140px;
            margin-top: 4px;
        }
        :global{
            .ant-input{
                width: 40%;
            }
        }
    }
}