
.form_label_color {
    .btn_lable {   
        margin-right: 16px;
    }
    .title__tips {
        color: #999;
    }
    .send{
        position: absolute;
        top: 50%;
        right: -88px;
        color: rgb(67, 145, 255);
        border: 1px solid rgb(67, 145, 255) !important;
        transform: translateY(-50%)
    }
    .text_area{
        // padding: 0 16px 16px;
        border: 1px solid  #E6E9EB;
        .area_title{
            line-height: 55px;
            padding: 0 16px;
            background: #F7F9FB;
            display: flex;
            border-bottom: 1px solid  #E6E9EB;
            justify-content: space-between;
            align-items: center;
            p{
                margin-bottom: 0;
                span{
                    font-size: 14px;
                    color: #0D1A26;
                    font-weight: bold;
                }
            }
        }
    }
    .charge_rule{
        color: #4391FF;
    }
    .area_content{
        padding:  16px;
        // margin-top: 16px;
        position: relative;
        .descLength{
            position:absolute;
            bottom: 21px;
            padding-right: 8px;
            right: 17px;
            text-align: right;
            line-height: normal;
            font-family: MicrosoftYaHei;
            font-size: 12px;
            color: #CFD3D8;
            background: #fff;
            z-index: 100;
            width: 91%;
            line-height: 22px;
        }

    }
    .area_btn{
        margin-top: 12px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    :global {
        textarea{
            resize: none;
            padding-bottom: 20px;
        }
        .ant-form-item {
            // .ant-form-item-children {
            //     .ant-select,
            //     .ant-input {
            //         width: 360px !important;
            //     }
            // }
            .ant-form-item-label {
                width: 106px;
                label {
                    color: #666 !important;
                }
            }
            .span_color {
                position: absolute;
                left: 348px;
                top: -31px;
                width: 120px;
                color: #4391ff;
                border-color: #4391ff;
            }
            .span_color_ctrl {
                display: inline-block;
                vertical-align: bottom;
                margin-top: 128px;
                margin-left: -330px;
            }
            
        }
        .counter {
            overflow: hidden;
            p{
                width: 60px;
                float: left;
                margin-left: 286px;
                margin-top: -5px;
                text-align: right;
                color:#999;
                font-size: 14px;
                font-weight: 400;
            }
           
        }
    }
   
}


