.leoRangeDatePicker{
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    .sp {
        display: inline-block;
        margin: 0 8px;
    }
    :global {
        .ant-calendar-picker {
            flex: 1 1;
        }
    }
}
