
.mainWrap{
    height: 100vh;
}
.content{
    width: 320px;
    margin: 80px auto 0; 
    color: #556675;
}
.head{
    text-align: center;
    margin-bottom: 32px;
    img{
        width: 56px;
        vertical-align: top;
    }
    div{
        display: inline-block;
        font-size: 21px;
        color: #0D1A26;
        font-weight: bold;
    }
}
.listTop{
    margin-bottom: 16px; 
}
.list{
    margin-left: 16px;
    li{
        margin-bottom: 8px;
    }
}
.agree{
    margin-bottom: 8px;
    :global{
        .ant-checkbox-wrapper{
            color: #0D1A26;
        }
    }
}
.agreeStyle{
    display: inline-block;
    cursor: pointer;
    user-select: none;
    color: #4391FF;
    margin-left: -8px;
}