
.context {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;

    .head {
        padding: 10px 0 24px;
        .back {
            cursor: pointer;
            .icon {
                font-size: 20px;
                vertical-align: middle;
                margin-right: 8px;
            }
        }
    }

    .content {

    }
}