.content {
    .titleBar {
        .titleLab {
            color: #333333;
            font-weight: bold;
        }

        .name {
            color: #2A2A2A;
            font-weight: bold;
        }
    }

    .filterBar {
        margin: 16px 0 12px 0;

        .filter {
            color: #4391FF;
            font-weight: bold;
        }
    }
}
