.messages {
    .content {
        padding: 0;
    }

    .table {
        padding-top: 24px;
    }

    .msgContent {
        max-width: 200px;
        word-break: break-all;
    }

    .operatorBtn {
        color: #4391FF;
        cursor: pointer;
    }

    .operator {
        width: 200px;
    }
}

.at {
    margin-top: 10px;
}



