.payModel{
    :global{
        .ant-modal-body{
            padding-bottom: 60px;
            padding-top: 8px;
        }
    }
    .totalMessage{
        margin:24px 0;
        span{
            color: #4391FF 
        }
    }
    .icon{
        font-size: 24px;
        background: #fff;
        color: #FFAA00;
        margin-right: 10px;
    }
    .tips{
        font-family: MicrosoftYaHei;
        font-size: 14px;
        color: #999999;
        letter-spacing: 0;
        line-height: 20px;
        margin-bottom: 24px;
    }
    .payHelp{
        display: flex;
        justify-content: flex-start
    }
}
