@import "~crm/style/common.less";


.customerGroup {

    .table {
        margin-top: 30px;
    }

    .tag {
        margin-bottom: 8px;
    }

    .option {
        margin-top: 20px;
    }

    .operator {
        text-align: center;
        line-height: 30px;
    }

    .operatorLink {
        display: block;
        color: #4391FF;
        cursor: pointer;
    }

    .operatorBtn {
        color: #4391FF;
        cursor: pointer;
    }
}

.details {

}

