:global {
    body .ant-table-thead {
        > tr > th {
            line-height: 18px;
        }

        > tr:last-of-type {
            th {
                border-bottom-width: 0;
            }
        }
    }
    body .ant-table-tbody {
        > tr > td{
            line-height: 18px;
        }
    }

    body .ant-table-thead > tr > th:first-of-type, 
    body .ant-table-tbody > tr > td:first-of-type {
        padding-left: 24px;
    }

    body .ant-table-thead > tr > th:last-of-type, 
    body .ant-table-tbody > tr > td:last-of-type {
        padding-right: 24px;
    }

    body {
        .ant-tooltip-inner{
            border-radius: 4px;
        }

        .ant-form-item-with-help{
            margin-bottom: 0;
        }

        .ant-form-explain {
            font-size: 12px;
            line-height: 16px;
            margin-top: 0;
        }

        .ant-notification-topRight{
            top: 65px !important;
        }

        .ant-popover-inner-content {
            font-size: 12px;
            p {
                margin-bottom: 0;
            }
        }

             
    }
}