
@base-space: 8px;
@margin-base: 16px;
@margin-small: @margin-base - @base-space;
@margin-large: @margin-base + @base-space;

@padding-base: 16px;
@padding-small: @padding-base - @base-space;
@padding-large: @padding-base + @base-space;

@color-title: #0D1A26;
@color-default: #556675;
@color-description: #9EA8B1;
@color-primary: #4391FF;
@color-bg-default: #F7F9FB;
@color-require: #f5222d;

@color-up: #F35D51;
@color-down: #3FCD9C;


@font-size-large: 16px;
@font-size-title: 14px;
@font-size-base: 12px;
@font-size-small: 12px;

@border-color: #CFD3D8;
@border-color-primary: @color-primary;

@width-tip-max: 1080px;