.container {
    margin: 20px auto;
    width: 980px;
    text-align: center;
    :global {
        .ant-upload-select-picture-card i {
            font-size: 32px;
            color: #999;
        }

        .ant-upload-select-picture-card .ant-upload-text {
            margin-top: 8px;
            color: #666;
        }
    }
}
