
//:global {
//    #root,
//    html {
//        overflow: auto;
//    }
//}

.mainWarp{
    height: 100%;
    overflow: auto;
}

.main {
    width: 368px;
    margin: 0 auto;
    .logo {
        margin: 118px auto 50px auto;
        text-align: center;
        img {
            height: 80px;
        }
    }

    .succeed{
        text-align: center;
        .title{
            margin: 36px 0 50px 0;
            font-family: PingFangSC-Regular;
            font-size: 16px;
            color: #333333;
            line-height: 22px;
        }
    }
    .imgCode{
        border: 1px solid #d9d9d9;
        cursor: pointer;
        border-radius: 2px;
        height: 40px;
        display: inline-block;
        width: 100%;
        vertical-align: bottom;
    }

    .toLogin{
        text-align: right;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #1890FF;
        line-height: 22px;
    }

    .title {
        font-size: 16px;
        color: #666666;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .form {
        :global {
            .ant-form-item {
                margin-bottom: 20px;
            }
        }
    }

    .submit {
        width: 100%;
    }

    .footer {
        margin: 154px auto 28px auto;
        text-align: center;
        font-size: 12px;
        color: #666666;
        line-height: 20px;
    }
}
