.customerPool{
    background: #fafafa;
    // margin-bottom: 16px !important;
    // padding: 24px !important;
    :global{
        .ant-input-number{
            width: 100%
        }
        .ant-col-14 a{
            line-height: 30px;
        }
        .ant-form-item{
            margin-bottom: 0;
        }
        .ant-modal-body{
            padding-bottom: 80px;
        }
    }
}
.tablelist{
    margin-top: 24px;
    :global{
        .ant-table-thead > tr > th:first-of-type,.ant-table-tbody > tr > td:first-of-type {
            padding-left: 24px !important;
        }
    }
}