/**
 **@Description:
 **@author: leo
 */


.treeTitle{
    text-align: center;
}

.tree{
    :global{
        .ant-tree-node-content-wrapper {
            width: 90%;
        }
    }
    .treeNodeClick{
        float: right;
    }
    .check{

    }
    .treeNode{

    }
}

.selectedDepartmentsWarp{
    padding: 10px;
}

.departmentItem{
    margin: 4px 0;
    border-bottom: 1px solid #ccc;
    .title{
        margin-bottom: 4px;
    }
    .close{
        float: right;
        cursor: pointer;
    }
}

.accountRow{
    margin-bottom: 20px;
}

.account{
    text-align: right;
}

.enabled{
    margin-left: 10px;
    background: cornflowerblue;
    color: #f3f5f7;
    font-size: 12px;
    padding: 1px 6px;
    border-radius: 4px;
}