.pageTitle{
    color: #333;
    position: relative;
    padding-left: 8px;
    font-weight: 700;
    &:before{
        content: '';
        border: 1px solid #4391FF;
        position: absolute;
        left: 0;
        top: 20%;
        height: 70%;
    }
}

// 通用设置
.mainInfo,.shopInfo,.shareInfo{
    :global{
        .ant-form-item-control{
            line-height: 22px;
        }
        .ant-form-item-label{
            line-height: 22px;
        }
    }
}
.logoUrl{
    width: 104px;
    height: 104px;
    border-radius: 2px;
    float: left;
    margin-right: 16px;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
}
.upLogoUrl{
    margin-top: 10px;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 2px;
    position: relative;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    background-color: #fafafa; 
    cursor: pointer;
    .addIcon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        img{
            width: 30px;
            margin-bottom: 8px;
        }
    }
}
.banUrl{
    margin-top: 10px;
    width: 104px;
    height: 104px;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
}
.upBanUrl{
    margin-top: 10px;
    float: left;
    position: relative;
    width: 104px;
    height: 104px;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    .addbanUrl{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        img{
            width: 30px;
            margin-bottom: 8px;
        }
    }
}
.shareUrl{
    width: 104px;
    height: 104px;
    border-radius: 2px; 
    float: left;
    margin-right: 16px;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
}
.upShareUrl{
    margin-top: 10px;
    float: left;
    width: 200px;
    height: 160px;
    border-radius: 2px;
    position: relative;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    background-color: #fafafa; 
    cursor: pointer;
    .addShareUrl{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        img{
            width: 30px;
            margin-bottom: 8px;
        }
    }
}
.inputStyle{
    width: 240px;
}



// 设置体验账号
.expeAdd{
    margin-bottom: 16px;
}

// 版本管理
.versMain{
   padding: 0 0 0 16px; 
   .shuoMing{
        color: #666666;
   }
   .versMainBtn{
       margin-top: 16px;
   }
   .versMainText{
       display: inline-block;
       color: #999999;
       margin-left: 16px;
       .versMainIcon{
            margin-right: 8px;
            color: #4391FF;
       }
   }
}
.versBug{
    .versBugHead{
        padding-top: 0;
        div{
            display: inline-block;
        }
        .versBugHeadTime{
            margin-left: 16px;
        }
    }
    .versBugbody{
        margin-top: -16px;
        padding-left: 16px;
        .versBugItem{
            margin-top: 8px;
            .versBugItemCon{
                padding: 8px 0 0 16px; 
            }
        }
    }
}
.versCollapse{
    width: 100%;
}
.myCascader{
    :global{
        .ant-cascader-menu{
            min-width: 130px;
        }
    }
}

.shop_fitment{
    p{
        margin-top: 16px;
        color:#556675;
        span{
            color: #0D1A26;
        }
    }
}

.warpCon{
    padding: 0 16px 0;
    border: 1px solid #e8e8e8;
    margin-bottom: 16px;
}
