.content{
    width: 600px;
    margin: 0 auto;
    padding-top: 60px;
    .content_icon{
        display: block;
        margin: 0 auto;
        color: #52c41a;
        font-size: 50px;
    }
    .content_center{
        margin-top: 12px;
        text-align: center
    }
    .content_link > a{
        padding-left: 16px
    }
}