.pay_modal{
    .modal_icon{
        font-size: 24px;
        color: #F15043;
    }
    b{
        font-size: 16px;
        color: #0D1A26;
        display: inline-block;
        vertical-align: middle;
        margin-top: -10px;
        padding-left: 4px;
    }
}
.pay_modal_text{
    text-indent: 32px;
    font-size: 14px;
    color:#556675;
    line-height: 16px;
}

