.theme_modal{
    ul{
        margin: 0;
        list-style: none;
        overflow: hidden;
        li{
            display: block;
            float: left;
            width: 160px;
            margin-right: 16px;
            img{
                width:160px;
                height:320px;
                display: block;
                border-radius: 4px;
                overflow: hidden;
            }
            &.active{
                img{
                    border: 1px solid #3484F5
                }
            }
            div {
                text-align: center;
                margin-top: 16px;
                font-size: 14px;
                color: #556675;
            }
        }
    }
}
