.blackList{
    .searchWrap{
        padding: 22px 22px 30px;
        background-color: #fafafa;
        .searchBtn{
            :global{
                .ant-btn-primary{
                    margin-right: 30px;
                }
            }
        }
    }
    .tableWrap{
        .canEdit{
            margin-top: 6px;
            cursor: pointer;
            color: #4391FF;
            &.disabled{
                color: #999;
            }
        }
        .noEdit{
            margin-top: 6px;
            color: #9EA8B1;
        }
        .avatar{
            width: 10%;
            img{
                width: 68px;
                height: 68px;
            }
        }
        .nickname, .uin, .owner, .group, .violationTime, .violationDetail, .violationCount{
            width: 8%;
        }
        .violateType{
            width: 12%;
        }
    }
}
