

.itemWarp{
    padding: 16px;
    overflow: hidden;
    border: 1px solid #E3E3E3;
    position: relative;
    img{
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        height: 60px;
        margin-right: 20px; 
    }
    div{
        display: inline-block;
        vertical-align: middle; 
    }
}
.itemContent{
    width: 70%;
    div{
        display: block;
        span{
            display: inline-block;
            vertical-align: middle;
        }
        .itemTitle{
            max-width: 600px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;
            color: #333333;
            margin-right: 16px;
        }
        .itemTime{
            font-size: 12px;
            color: #999999; 
        }
    }
    .itemDec{
        margin-top: 8px;
        .cardContentPart{
            color: #4391FF;
            cursor: pointer;
            margin-left: 3px;
        } 
        span{
            vertical-align: top;
        } 
    }
}
.itemStatus{
    position: absolute;
    width: 110px;
    height: 32px;
    line-height: 32px;
    color:#3E83FD;
    border: 1px solid #3E83FD;
    text-align: center;
    font-size: 12px;
    right: 21px;
    top: 50%;
    margin-top: -12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    background: #fff;  
}
.userList{
    padding-top: 0;
    padding-bottom: 0;  
}
