.MsgContent {
    :global {
        .ant-modal {
            padding-bottom: 0;
        }

        .ant-modal-body {
            max-height: 545px;
            padding-bottom: 8px;
            overflow-y: auto;
        }
    }

    .list {
        list-style-type: none;
        margin-bottom: 0;

        .item {
            padding-bottom: 24px;

            .label {
                float: left;
                width: 130px;
                text-align: right;
            }

            .content {
                margin-left: 130px;
            }
        }
    }
}