
.head {
    position: relative;
}

.title {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 16px;
    padding: 0 0 20px;
    border-bottom: 1px solid #e8e8e8;
}

.questionCircle {
    color: #4391FF;
    font-weight: 400;
    padding-left: 12px;
}

.help{
    position: absolute;
    top: 0;
    right: 0;
    color: #4391FF;
    a {
        text-decoration: none;
    }
}