.has_error{
    color: #f5222d;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0;
}
.form_item_required {
    label:before{
        display: inline-block;
        margin-right: 4px;
        content: "*";
        font-family: SimSun;
        line-height: 1;
        font-size: 14px;
        color: #f5222d;
    }
    
}
.qrcode_content{
    min-width: 1100px;
    overflow: hidden;
}
.right_img{
    display: block;
    margin-left: 420px;
    margin-top: 24px;
    max-width: 1210px;
    section{
        width: 264px;
        margin: 0 auto;
        img{
            display: block;
            height: 530px;
            width: 264px;
            border: none;
        }
        p{
            text-align: center;
            margin-top: 26px;
            font-size: 14px;
            font-weight: bold;
            color: #666;
        }
    }
    
}

.showDownloadType {
    border: 1px solid #ececec;
    padding: 10px 0;
}
.showDownloadType p{
    margin-bottom: 0;
}
.showDownloadType .mb10{
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
}
.downloadIcon{
    font-size: 32px;
    cursor: pointer;
}
.tips{
    height: 20px;
    margin-top: -10px;
    text-align: right;
    line-height: 10px;
}