.autoMatic{
    .table__content{
        max-width: 260px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap
    }
    
    .table__content__popover{
        max-width: 240px;
        word-wrap: break-word;
        word-break: normal;
    }
}
.area_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        margin-bottom: 0;
        span{
            font-size: 14px;
            color: #0D1A26;
            font-weight: bold;
        }
    }
    .charge_rule{
        color: #4391FF;
    }
}