.data_sell{
    .schedule{
        color:rgba(158,168,177,1);
        font-size: 14px;
        margin-left: 8px;
        cursor: pointer;
        padding:1px 16px 1px 8px;
        .closeSchedule{
            color: #fff;
            margin-left: 16px;
        }
    }
    .schedule:hover{
        background:rgba(247,249,251,1);  
        .closeSchedule{
            color: #9EA8B1;
        }
    }
    .cursor{
        cursor: pointer;
    }
    
    .date{
        :global{
            .ant-calendar-picker>span{
                display: block !important;
            }
        }
    }
    .range{
        margin-right: 16px;
    }
    .ellipsis100{
        width: 100px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap 
    }
    .ellipsis120{
        width: 120px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap 
    }
    .ellipsis140{
        width: 140px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap 
    }
    .ellipsis150{
        width: 150px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap 
    }
    .width120{
        width: 120px;
    }
    .width100{
        width: 100px;
    }
    .performanceSell {
        .questionCircle {
            color: #4391FF;
            margin-left: 5px;
        }
        .sellflex{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 24px 0;
        }
        .downLoad{
            // border: 1px solid #A1C4F7;
            // color: #4391FF;
            margin-left: 16px;
        }
        .searchBtn{
            margin-left: 24px;
        }
        .explain{
            margin-left: 16px;
        }
    }

}
.tipName{
    line-height:30px;
    color:#666 !important;
}
.tipContent{
    display:inline-block;
    width:120px;
    text-align:left;
    color:#000;
}
