
.history {
    position: relative;
    .searchPanel {
        .form {
            display: flex;
            .formItem {
                flex: 1;
                max-width: 400px;
                display: inline-flex;
                align-items: center;
                .label {
                    display: inline-block;
                    width: 60px;
                    text-align: right;
                }
                .item {
                    flex: 1;
                }
            }
            .btn {
                margin-left: 16px;
            }
        }
    }

    .cash {
        height: 40px;
        line-height: 40px;
    }
    .hidden {
        display: none;
    }

    .messages {
    }
}

