.settingTitle {
    text-align: right;
    font-size: 16px;
    margin-right: 8px;
}
.settingTip{
    padding: 16px 0;
    background: #F7F9FB;
    text-align: left;
    margin: 16px 0;
    .tip{
        margin-left: 16px;
    }

}
.settingDesc {
    padding-top: 2px;
    color: #999;
}
.stronger{
    color: #0D1A26;
    margin: 0 3px;
    font-weight: 600;
}
.radioGroup {
    :global {
        .ant-radio-wrapper {
            display: flex;
            justify-content: start;
            align-items: center;
        }
        .ant-radio {
            // margin-bottom: 16px;
        }
    }
    .radioInline {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .inlineMargin {
        // margin-bottom: 16px;
        display: inline-block;
    }
}
.radioItem {
    margin-top: 24px;
}
.labelBorder {
    border-bottom: 1px dashed #E6E9EB;
    padding: 6px 0;
}
.labelBorder_last{
    border-bottom: 1px dashed #E6E9EB;
    padding: 16px 0;
}
.labelPaddingBottom {
    padding-bottom: 16px;
}
.labelBorderBottom {
    border-top: 1px dashed #E6E9EB;
}
.radioItemBox {
    margin-left: 84px;
    padding:10px 0;
}
.points_Linmit{
    display: block;
    height: 30px;
    line-height: 39px;
}
.fistone{
    padding:0 0 6px;
    border-bottom: 1px dashed #E6E9EB;
}
.ItmelTip{
    font-size: 12px;
    color: #9EA8B1;
    margin-left: 8px;
}


.radioInline {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
}
.inlineMargin {
    display: inline-block;
}
.radioForm{
    margin-bottom: 0 !important;
    padding: 0 8px;
}
.ItmelTip{
    font-size: 12px;
    color: #9EA8B1;
    margin-top: 16px;
}
.input_240{
    width: 240px;
}
.itemTitle{
    padding: 10px 0;
    color: #0D1A26;
    font-size: 16px;
    .titleBar {
        background: #4391FF;
        display: inline-block;
        height: 0.95em;
        width: 2px;
        vertical-align: middle;
        position: relative;
        top: -0.06em;
        margin-right: 8px;
    }
}

.mart{
    font-style: normal;
    color: #f5222d;
    margin-right: 4px;
}
