.table {
    p {
        margin-bottom: 0;
    }
    .operate {
        margin-top: 24px;
        button:nth-child(2) {
            margin-left: 24px;
        }
    }
}
.slightColor span {
    font-weight: 400;
    color: #999;
}
.weight {
    font-weight: 400;
    color: #666;
}
.button_margin {
    margin-top: 24px;
}
.border_none tr {
    td,
    th {
        border: none !important;
    }
    th {
        border-bottom: 1px solid #e8e8e8 !important;
    }
}
.bottom_btn {
    width: 80px;
    margin-right: 16px !important;
}
.btn_active {
    color: #4391ff;
    border-color: #4391ff;
}
.form_label label {
    color: #666 !important;
}
.form_label_bottom label {
    display: block !important;
    margin-bottom: 8px !important;
    color: #666 !important;
}


.martop {
    margin-top: 16px;
}
.bottom {
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    line-height: 55px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #4391ff;
    letter-spacing: 0.17px;
    padding-left: 24px;
    cursor: pointer;
}
.modelWidth {
    width: 100%;
}
.ant-modal {
    width: 710px !important;
}
.block {
    font-weight: bold;
}
