/*
 * @Author: sunlzhi 
 * @Date: 2018-09-07 10:44:39 
 * @Last Modified by: sunlzhi
 * @Last Modified time: 2018-09-10 17:01:50
 */

 .payConfirm {
    .currentSub {
        margin-bottom: 20px;
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
    .describe {
        width: 85px;
        margin-right: 10px;
        color: #666;
        font-size: 12px;
    }
    .sub {
        font-size: 13x;
        color: #333;
    }
    .toAdd {
        display: inline-block;
        vertical-align: middle;
    }
}

