.searchBar{
    background: #F7F9FB;
    margin-bottom: 16px;
    padding: 24px;
}
.popover{
    p{
        line-height: 2;
        span{
            color: #0D1A26;
            font-weight: bold;
        }
    }
}

.cursor{
    color: #4391FF;
    cursor: pointer;
}

.modalContent{
    :global{
        .ant-modal-body{
            overflow: auto;
        }
    }
}
