@import "../../../style/common";

.container {
    margin: 0 30px;
    position: relative;
    /*:global {
        .ant-tabs-tab {
            font-weight: 700;
            padding-bottom: 15px;
            color: @font-size-color-dark;
        }
        .ant-tabs-tab-active {
            color: @primary-color;
        }
    }*/
}

.groupMembers{
    .groupName{
        display: flex;
        margin: 20px 0 10px 0;
        .ellipsisTxt{
            max-width: 30%;
        }
    }
    .tableWrap{
        .canEdit{
            margin-top: 6px;
            cursor: pointer;
            color: #4391FF;
            &.disabled{
                color: #999;
            }
        }
        .nickname, .uin, .groupNickname{
            width: 18%;
        }
        .groupIdent{
            .tasker{
                display: flex;
                color: @primary-color;
            }
            .dangerous{
                color: #F00;
            }
        }
    }
}