.page{
    height: 100%;
    position: relative;
}

.bodyer{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    // padding: 0 24px 0;
    padding: 0;
}