
.inputStyle{
    display: inline-block;
    width: 110px;
    margin: 0 8px;
}
.uploadClass{
    :global{
        .ant-upload-list-item{
            margin-top: 10px;
        }
        .ant-upload-select-picture-card{
            margin-top: 10px;
        }
    }  
}
.modalCon{
    :global{
        .ant-modal-close-x{
            width: 30px;
            height: 30px;
            line-height: 30px; 
        }
    } 
}

.radioStyle{
    display: block;
    margin-bottom: 16px;
}
.deleteHidden{
    :global{
        .anticon-delete {
            display: none;
        }
    }
}
.radioStyle{
    :global{
        .ant-input-disabled{
            border-color: unset !important;
        } 
    }
}