.libModalWarp {
    .searchBar {
        .formItem {
            //display: inline-block;
            width: 96%;
            //margin-right: 8px;
            //line-height: 32px;
        }

        .categoriesTree{
            //display: inline-block;
            width: 96%;
            //margin-right: 8px;
            //line-height: 32px;
        }

        .tagForm {
            //vertical-align: bottom;
            //display: inline-block;
            width: 96%;
            //margin-right: 8px;

            :global {
                .ant-select-selection--multiple {
                    height: 32px;
                    overflow-y: auto;
                }
            }
        }
    }

    .empty {
        margin-top: 100px;
        text-align: center;
    }

    .content {
        margin: 24px 0;
        overflow: auto;
        outline: none;
        div{
            outline: none;
        }
    }

    .cell {
        position: relative;
        cursor: pointer;
    }

    .checked {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 0.75;
        z-index: 10;
    }

    .checkedIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28px;
        height: 28px;
    }
}
