.error{
    :global{
        .ant-badge-status-text{
            color: #4391FF;
        }
    }
}
.pageContent{
    padding: 24px 24px 8px 24px;
    border: solid 1px #E6E9EB;
    border-radius: 2px;
    margin-bottom: 16px;
    :global{
        .ant-row{
            font-size: 14px;
            color: #5d6c79 !important;
            .ant-col-24{
                margin-bottom: 16px;
                span{
                    display: block;
                    float: left;
                    width: 84px;
                    text-align: right;
                    color: #0D1A26;
                }
            }
        }
    }
}
