.goodsImg {
    width: 60px;
    height: 60px;
    border-radius: 2px;
}
.goods {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}
.description {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.specs {
    margin-left: 12px;
    color: #888888;
    display: inline-block;
    max-width: 430px;
    text-overflow: ellipsis;
    overflow: hidden;
}