
.radio{
    margin-top: 26px;
    font-size: 12px;
    line-height: 32px;
    margin-bottom: 0 !important;
    :global{
        .ant-checkbox-wrapper{
            font-size: 12px;
        }
        .ant-form-item-control{
            line-height: 32px;
        }
    }
}