@import "../../../../style/hz/init.less";

.action{
    padding-bottom: @padding-large;
}

.friend {

}

.divider {
    border-right: 1px solid @border-color;
}

.tiphead{
    margin: 0;
    dt,
    dd {
        margin: 0;
    }

    dt {
        font-size: 14px;
    }
    dd{
        padding-top: @padding-small;
        font-size: 22px;
        color: @color-title;
    }
}

.friendCol {
    padding-right: @padding-large;
}

.friendMessage{
    margin-top: -32px; 
}

.friendMessageCol {
    padding-left: @padding-large;
}