@import "~community/style/common.less";

.avatar {
    width: 30px;
    height: 30px;
}

.status {
    width: 100px;
}

.number {
    color: @primary-color;
    cursor: pointer;
}

.operate {
    width: 70px;
}

.option {
    color: #4391FF;
    cursor: pointer;
}

.table {
    margin-top: 30px;
}

.weChatColumn,
.statusColumn {
    width: 12%;
}

.contentColumn {
    width: 15%;
}

.sexColumn {
    min-width: 50px;
}
