
.wrapper {
    :global {
        .ant-modal-body {
            text-align: center;
            overflow: hidden;
        }
    }
}

.videoWrap {
    .video {
        max-width: 100%;
        max-height: 460px;
    }
}

.slider {
    position: relative;
    margin: 30px 0 0 0;
    .label {
        width: 80px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    :global {
        .ant-slider {
            margin-left: 80px;
        }
    }

}

