.qrcodeWrap {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    img{
        max-width:256px;
    }
    .btn{
        margin-top: 24px;
    }
    .qrcode {
        width: 200px;
        height: 200px;
        margin-bottom: 24px
    }
    .statusTxt{
        &.primary{
            color: #4391ff;
        }
        &.overTime{
            color: #f00;
        }
    }
    .overTime{
        margin: 12px 0;
        text-align: center;
    }
}