/*
 * @Author: sunlzhi 
 * @Date: 2018-11-02 10:45:26 
 * @Last Modified by: sunlzhi
 * @Last Modified time: 2018-11-02 11:25:42
 */

.operationButtons {
    margin-top: 16px;
    margin-bottom: 16px;
    .button {
        margin-right: 16px;
    }
}

.status1 {
    &::before {
        content: '';
        width: 6px;
        height: 6px;
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
        background: #52C41A;
        border-radius: 50%;
    }
}
.status2 {
    &::before {
        content: '';
        width: 6px;
        height: 6px;
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
        background: #D8D8D8;
        border-radius: 50%;
    }
}

.goodsInfo {
    // width: 300px;
    img {
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        height: 60px;
    }
    .goodsInfoBox {
        display: inline-block;
        vertical-align: middle;
        width: 260px;
        padding-left: 10px;
        .goodsInfoName {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .goodsInfoPrice {
            color: #FA8C16;
        }
        .goodsInfoSign {
            float: right;
            border: 1px solid #4391FF;
            color: #4391FF;
            font-size: 12px;
            padding: 0 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-left: 5px;
        }
        .redGroup {
            float: right;
            border: 1px solid #F5222D;
            color: #F5222D;
            font-size: 12px;
            padding: 0 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-left: 5px;
        }
        .yellowSpecial {
            float: right;
            border: 1px solid #FA8C16;
            color: #FA8C16;
            font-size: 12px;
            padding: 0 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-left: 5px;
        }
    }
}

.operationBtn {
    span {
        padding: 0 5px;
        color: #d8d8d8;
    }    
}
