@import '../../../../style/hz/init.less';


.tab {
    overflow: hidden;
    margin-bottom: -2px;

    > div {
        padding: 24px @padding-base 16px @padding-base;
        float: left;
        cursor: pointer;
        color: @color-title;
        font-size: @font-size-title;
        font-weight: 800;
    }

    .tabActived {
        padding-bottom: 14px;
        color: @color-primary;
        border-bottom: 2px solid @border-color-primary;
    }
}


