@import "../../../../style/hz/init.less";

.box{
    position: relative;
}

.item {
    width: 150px;
    margin: 0 auto;
    overflow: visible;
}

.noPrev {
    padding: 11px 0 10px 0;
}

.title {
    font-size: 14px;
    color: @color-description;
}

.today {
    font-size: 36px; 
    color: @color-title;
    padding: @padding-small 0;
    line-height: 1;
    //font-weight: 800;
}

.todayStaticticsing {
    color: #556675;
    font-size: 36px;
}

.staticticsing {
    color: @color-description;
    font-size: 13px;
}

.diff {
    font-size: @font-size-small;
}

.divider{
    position: absolute;
    top: 0px;
    right: 0;
    background: @border-color;
    height: 100px;
    width: 1px;
}

.jinefen {
    font-size: 22px;
}