.CheckboxWrap{
    width: 80%;
    padding: 8px 0 16px;
    font-size: 14px;
    color: #556675;
    // padding-bottom: 16px;
    border-bottom: 1px dashed #E6E9EB;
}
.listItemWrap{
    width: 80%;
    padding:16px 8px 16px;
    cursor: pointer;
    border-bottom: 1px dashed #E6E9EB;
    .title{
        font-size: 14px;
        color: #0D1A26;
        line-height: 22px;
        .time{
            color: #9EA8B1;
            font-size: 12px;
        }
    }
    .activeContent{
        padding-left: 15px;
    }
    .titleText{
        margin-bottom: 8px;
        color: #0D1A26;
    }
    .content{
        font-size: 12px;
        color: #556675;
    }
    .inactive{
        padding-left: 15px;
    }
    .statusIcon{
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #F35D51;
        margin-right: 8px;
        vertical-align: middle;
        margin-left: absolute;
    }
}
.listItemWrap:hover{
    background: #F7F9FB;
    border-color: transparent;
}

// 公告详情
.noticeDetailPage{
    .noticeTitle{
        padding: 24px 0 8px;
        font-size: 16px;
        color: #0D1A26;
    }
    .noticeTime{
        font-size: 14px;
        color: #9EA8B1;
        margin-bottom: 16px;
    }
}
.recallnoticePage{
    padding: 100px 0 0;
    text-align: center;
    img{
        width: 250px;
        height: 160px;
        margin-bottom: 24px;
    }
    p{
        font-size: 14px;
        color: #556675;
    }
}
