.vioce_wechat_pay {
    width: 368px;
    margin:  0 auto;
    margin-top: 150px;
    p{
        position: relative;
    }
    .wechatPayIcon{
        width: 44px;
        height: 37px;
        vertical-align: middle
    }
    .payName{
        font-family: 'MicrosoftYaHei-Bold';
        font-size: 24px;
        color: #0D1A26;
        line-height: 32px;
        vertical-align: middle
    }
    .qrcode{
        width: 150px;
        margin: 0 auto;
    }
    p{
        text-align: center;
        overflow: hidden;
    }
    .recharge{
        font-family: MicrosoftYaHei;
        font-size: 14px;
        color: #0D1A26;
        line-height: 22px;
    }
     .receive{
        font-family: MicrosoftYaHei;
        font-size: 14px;
        color: #9EA8B1;
        line-height: 22px;
     }
     .company{
        font-family: MicrosoftYaHei;
        font-size: 14px;
        color: #0D1A26;
        line-height: 22px;
        margin-top: 24px;
     }
     .shade{
         width: 150px;
         height: 150px;
         background: rgba(255, 255, 255, 0.95);
         position: absolute;
         top:0;
         left:50%;
         transform: translateX(-50%);
         text-align: center;
         color: #000;
         z-index: 100;
         span{
            position: absolute;
            top:50%;
            left:50%;
            width: 90px;
            transform: translate(-50%,-50%);
         }
     }
}
