
.info{
    text-align: center;
    .icon {
        color: '#52C41A';
        font-size: 70px;
        margin-bottom: 30px;
    }
    .success {
        color: '#52C41A';
        font-size: 30px;
        margin-bottom: 20px;
    }
}