.qrUrlImg {
    width: 150px;
    height: 150px;
}

.shortLink {
    width: 226px;
    vertical-align: middle;
    // margin-right: 24px;
}

.qrcodeIcon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 2px;
    vertical-align: middle;
}
.downloadSize {
    
    .downloadSizeType {
        border: 1px solid #DEDEDE;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        // border-bottom: 1px solid #DEDEDE;
        padding: 16px;
        // cursor: pointer;
    }
    .downloadSizeType:last-child{
        margin-bottom: 0;
    }
    .size{
        color: #556675;
        margin-bottom: 8px;
    }
    .description{
        color: #9EA8B1;
        font-size: 12px;
    }
    .downloadSizeType:hover{
        border-color: #4391FF;
        color: #4391FF;
        .size, .description{
            color:#4391FF;
        }
    }
}
.itemTitle{
    color: #0D1A26;
    text-align: right;
}

.downloadSizeBtn {
    cursor: pointer;
    font-size: 18px;
    
}
