@import "~community/style/common.less";

.wrapper {
    .btns {
        line-height: 40px;
        button {
            width: 80px;
            &:first-child {
                margin: 0 16px;
            }
        }
    }

    .wordCloudWrap {
        overflow: hidden;
        margin: 16px 0;
        padding: 10px 0;
        border: 1px solid #E6E9EB;
        .title {
            color: #333;
            font-size: 16px;
            text-align: center;
            margin: 0;
        }
        .wordCloud {
            margin: 40px 0 20px;
            padding: 0 40px;
            .title {
                margin-bottom: 10px;
            }
        }
    }

    .contentColumn {
        width: 25%;
        word-break: break-all;
    }

    .disabled {
        color: #999;
    }
}


