.newWatermarkTemplate{
    padding: 0 30px;
    .btnBar{
        margin-top: 20px;
    }
    .btn{
        margin-right: 20px;
    }
    .watermark{
        width: 100%;
        min-height: 568px;
    }
}