/*
 * @Author: sunlzhi 
 * @Date: 2018-09-27 18:27:04 
 * @Last Modified by: sunlzhi
 * @Last Modified time: 2018-11-14 11:55:36
 */

.object {
    padding: 70px 115px 20px;

    .steps {
        padding: 0 60px;
    }
    .stepsInner {
        padding-top: 65px;
        .mpaAuthButton {
            padding-top: 20px;
            color: #4391FF;
            cursor: pointer;
        }
    }
    .mpaAuth {
        font-size: 16px;
        text-align: center;
    }
    .mpaAuthExplain {
        margin-top: 40px;
        border-top: 1px solid #E3E3E3;
        padding-top: 24px;
        text-align: left;
        h4 {
            font-size: 16px;
            color: #666;
            margin-bottom: 20px;
        }
        h5 {
            font-size: 14px;
            color: #666;
        }
        p {
            font-size: 14px;
            color: #999;
        }
    }
    .mpaAuthImg {
        margin-top: 20px;
        width: 804px;
    }

    .createAnimate {
        text-align: center;
        padding-top: 50px;
        
        img {
            width: 410px;
            display: block;
            margin: 0 auto;
        }
        .progress {
            width: 420px;
            display: block;
            margin: 70px auto 0;
        }
    }
}