@import "~wx/style/common.less";

.templateDetail{
    .tableHeader{
        margin-bottom: 14px;
    }
    .table{
        .canEdit{
            color: @primary-color;
            cursor: pointer;
        }
        .editColumn{
            span{
                margin-right: 20px;
            }
        }
    }
}