.content{
    width: 500px;
    margin: 0 auto;
    padding-top: 160px;
    h2{
        margin-left: 152px;
        font-size: 24px;
        overflow: hidden;
        span{
            display: block;
            float: left;
            line-height: 42px;
            padding-left: 8px;
        }
    }
    p{
        color:#0D1A26;
        text-align: center
    }
    canvas{
        display: block;
        margin: 0 auto;
    }
    .btn{
        margin-top: 16px
    }
}

.qrUrlImg {
    display: block;
    width: 262px !important;
    height: 262px !important;

}

.shortLink {
    width: 352px;
    vertical-align: middle;
}
.left{
    width: 300px;
    float: left;
    margin-top: 6px;
    border-right: 1px solid #E6E9EB;
}

.right{
    padding-left:24px; 
    height: 100%;
    float: left;
    width: 548px;
}

.qrcodeIcon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 2px;
    vertical-align: middle;
}
.downloadSize {
    
    .downloadSizeType {
        border: 1px solid #DEDEDE;
        display: flex;
        align-items: center;
        margin-top: -1px;
    }
    .downloadSizeType:last-child{
        margin-bottom: 0;
    }
    .size{
        color: #556675;
        margin-bottom: 8px;
    }
    .description{
        color: #9EA8B1;
        font-size: 12px;
    }
}
.itemTitle{
    color: #0D1A26;
    text-align: right;
}

.downloadSizeBtn {
    cursor: pointer;
    font-size: 18px;
    
}
.detail{
    span{
        color: #0D1A26;
    }
}
