@import "../../../../style/hz/variable.less";

.edit{
    color: #4391FF;
    cursor:pointer;
}
.rise{
    color: #FA8C16 ;
}
.decline{
    color: #666;
}
.income{
    background: @color-bg-default;
    margin-bottom: 16px;
    padding: 32px 0;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    div{
        padding: 0 55px;
        p{
            margin-bottom: 0;
        }
        p:last-child{
            font-family: MicrosoftYaHei-Bold;
            font-size: 22px;
            color: #FA8C16;
            font-weight: bold;
            letter-spacing: 0;
            margin-top: 20px;
            line-height: 22px;
        }
    }
    div:first-child{
        border-right: 1px solid #E3E3E3;;
    }
}
.open{
    color: #000;
    font-style: normal;
    width: 20px;
    display: inline-block;
    height: 14px;
    margin-left: 10px;
    background: url('mall/assets/images/open.svg') no-repeat center ;
    -webkit-background-size: 100%;
    background-size: 100%;
    cursor: pointer;
}
.close{
    display: inline-block;
    color: #000;
    width: 20px;
    height: 14px;
    cursor: pointer;
    margin-left: 10px;
    background: url('mall/assets/images/close.svg') no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
}