@import "../../../../../style/hz/init.less";

.tiphead{
    margin: 0;
    dt,
    dd {
        margin: 0;
    }

    dt {
        font-size: 14px;
    }
    dd{
        padding-top: @padding-small;
        padding-left: @padding-small+5px;
        font-size: 22px;
        color: @color-title;
    }
}

.ciricon {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 8px;
    margin-right: 5px; 
}