.newRules{
    .vertical{
        height: 100%;
    }
    .center{
        justify-content: center;
        display: flex;
    }
    .btnBar{
        margin-top: 20px;
    }
    .btn{
        margin-right: 20px;
    }
}
