@import "~community/style/common";

.keywordWrapper {
    .inputSuffix {
        :global {
            .ant-input:not(:last-child) {
                padding-right: 55px;
            }
        }
        .suffix {
            font-size: 12px;
            color: #9EA8B1;
        }
    }
}