@import "../../../../style/hz/init.less";

.description {
    padding: 24px;
    background: @color-bg-default;
    margin-bottom: 16px;
}

.headDescription {
    margin-bottom: 0;
    margin-top: 16px;
}

.title {
    font-size: @font-size-title;
}

.content {
    max-width: @width-tip-max;
}