@import "../../../../../style/hz/init.less";

.tip {
    padding: @padding-large;
    background: @color-bg-default;
    margin-bottom: @margin-large;
}

.setting{
    p {
        padding-left: @padding-large;
        padding-top: @padding-small;
        color: @color-description;
    }
}