@import '../../../../style/hz/init.less';

.block {
    position: static;
}

.blockBottomDriver {
    border-bottom: 1px solid @border-color
}

.title {
    padding: @padding-large 0;
    font-weight: 800;
    color: @color-title;
}

.titleDriver {
    background: @primary-color;
    display: inline-block;
    height: 0.95em;
    width: 2px;
    vertical-align: middle;
    position: relative;
    top: -0.06em;
    margin-right: @margin-small;

}