.img {
    width: 60px;
    height: 60px;
    display: block;
}
.alert{
    margin-bottom: 16px;
    border: none;
    background-color: #F7F9FB;
    padding: 24px;
    color: #999;
}
.warnIcon{
    margin-right: 8px;
    width: 18px;
    height: 18px;
    object-fit: cover;
    vertical-align: sub;
}
