.goodsImg {
    width: 60px;
    height: 60px;
    border-radius: 2px;
}
.goods {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.activity {
    color: #4391FF;
}
.formInput {
    width: 320px;
}
.marginLeft {
    margin-left: 16px;
}
.popover {
    width: 290px;
    height: 130px;
    box-sizing: border-box;
    padding: 16px 8px;
}