.modalItem{
    width: 240px;
}
.uploadImage{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    float: left;
    margin-right: 16px;
}
.iconWarp{
    float: left;
    width: 100px;
    height: 100px;
    border: 1px dashed #d9d9d9;
    background-color: #fafafa;
    border-radius: 4px;
    position: relative;
    margin-top: 10px;
}
.addIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    img{
        width: 30px;
        margin-bottom: 8px;
    }
}