@import "~wx/style/common.less";

.autoReplyGlobal{
    .status{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .remind{
            margin-left: 10px;
            font-size: 13px;
            color: #999;
            .thickening{
                font-weight: bold;
                color: #000;
            }
        }
    }
    .tableHeader{
        margin-bottom: 14px;
    }
    .table{
        .canEdit{
            color: @primary-color;
            cursor: pointer;
        }
        .editColumn{
            span{
                margin-right: 20px;
            }
        }
    }
}