.wrap{
    margin-bottom: 12px;
    color: #666;
    &:after{
        clear:both;
        content:'';
        display:block;
        width:0;
        height:0;
        visibility:hidden; 
    }
}
.title{
    float: left;
    text-align: right;
    color: #0D1A26;
}
.content{
    float: left;
    color: #556675;
    word-break: break-all;
}