.card{
    border: 1px solid #d5d5d5;
    padding: 24px;
}
.content{
    background-color: #fafafa;
    padding: 16px;
    margin-bottom: 8px;
    padding-bottom: 0;
}
.contentAdd{
    // background-color: #fafafa;
    padding: 24px 0;
}
.closeCircle {
    color: #999;
    float: right;
    margin-top: -4px;
}
.activityDisabled {
    float: right;
    margin-top: -4px;
    color: rgba(0, 0, 0, 0.25);
    cursor: no-drop;
}
