.collapse{
    :global{
        .ant-collapse-content-box{
            padding: 0;
        }
        .arrow{
            right: 16px;
            left: unset !important;
        }
        .ant-collapse-header{
            padding-left: 0 !important;
            border-bottom: 1px solid #d9d9d9;
        }
    }
}