/**
 **@Description:
 **@author: yecuilin
 */

.statisticsWrap{
    background: #F7F9FB;
    padding: 24px 16px 24px 24px;
    dl{
        margin-bottom: 0 !important;
        color: #556675;
        padding-right:8px; 
    }
    dd{
        margin-bottom: 16px;
    }
    dt{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    span{
        color: #0D1A26;
    }
}
.displayWrap{
    border: 1px solid #E6E9EB;
    padding: 32px 0;
    margin-bottom: 16px;
    dl{
        text-align: center;
        border-left: 1px solid #E6E9EB;
        margin-bottom: 0 !important;
    }
    dd{
        margin-bottom: 2px;
        color: #9EA8B1;
    }
    dt{
        font-size: 32px;
        color: #0D1A26;
    }
    dl.lastItem{
        border-left: none;
    }
}
.echartsWrap{
    padding: 16px 8px;
    position: relative;
    border: 1px solid #E6E9EB;
    .echartsTitle{
        position: absolute;
        color: #0D1A26;
        font-size: 16px;
        top: 20px;
        left: 24px;
        z-index: 10;
    }
}
.not_tao_type{
    display: none
}