
.body{
    padding: 0 24px;
}
.title{
    display: flex;
    margin: 0;
    border-bottom: 1px solid #e8e8e8;
    h1{
        font-size: 16px;
        font-weight: 800;
        color: #0D1A26;
        flex-grow: 1;
        margin: 0;
        padding: 24px 0 16px 0;
    }
}
.head{
    margin: 16px 0;
    border: none;
    background-color: #F7F9FB;
    padding: 24px;
}

.search{
    margin-top: 16px;
}

.table{
    margin-top: 16px;
}