@import "~wx/style/index";

.tagForm {
    :global {
        .ant-form-item-control {
            margin: 5px 0 -10px;
        }
        .ant-select-selection--multiple {
            height: 30px;
            overflow-y: auto;
        }
    }
}

.questionCircle {
    cursor: pointer;
    color: #4391FF;
    padding-left: 12px;
}

.addition {
    float: right;
    margin-top: 16px;
    .export {
        border-color: $primary-color;
        color: $primary-color;
        float: right;
    }
}

.filterDelete {
    margin-top: 4px;
    line-height: 34px;
}
