@import "~community/style/common.less";

.wrapper {
    .btns {
        line-height: 40px;
        button {
            width: 80px;
            &:first-child {
                margin: 0 16px;
            }
        }
    }

    .add {
        margin: 16px 0;
    }
    .column {
        width: 25%;
    }
    .stress {
        color: @primary-color;
        cursor: pointer;
    }
}


