.spin_text{
    clear: both;
    min-height: 22px;
    margin-top: -2px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 1.5;
    padding-left: 90px;
    padding-bottom: 4px;
    font-size: 12px;
    margin-top: -8px;
}
