/**
 **@Description:
 **@author:吴明
 */
.hz_from_search{
    :global {
        .ant-form-item-label{
            text-align: right;
            vertical-align: middle;
            line-height: 39.9999px;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
        }
        .ant-form-item{
           margin-bottom:0;
        }
        .ant-calendar-picker{
            width: 100%;
        }
    }
}
.layoutModel{
    :global {
      .ant-modal-body{
        padding-top: 16px; 
      }
    }
    .limitTip{
    
      padding-bottom: 24px;
    }
}
.packetStatistics {
    padding-bottom: 16px;
}
.spanTop {
    margin-top: 5px;
}
.money {
    color: #4391FF;
    font-weight: 800;
}
.explain {
    display: inline-block;
    padding-top: 5px;
}
.downLoadButton {
    border: 1px solid #A1C4F7;
    color: #4391FF;
}
