@import "../../style/base";

.qrcode {
    text-align: center;
    .help {
        padding-top: 10px;
        font-size: 12px;
    }
    p {
        text-align: center;
        line-height: 1.8;
        font-size: 14px;
        padding-bottom: 10px;
    }
}

.name {
    cursor: pointer;
    color: $primary-color;
    i {
        margin-right: 5px;
    }
}

