.customerPool {
    background: #fafafa;
    padding: 26px !important;
    :global {
        .ant-input-number {
            width: 100%;
        }
        .ant-col-14 a {
            line-height: 30px;
        }
        .ant-tabs-bar {
            border-bottom: none;
        }
    }
}

.table_margin_top {
    margin-top: 16px;
}
.table_separate {
    display: inline-block;
    margin: 0 10px 0 6px;
    color: #D8D8D8;
}
.title_sign{
    margin: 0 0 16px 0;
    color:#333;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: 400;
    &:before{
        position: relative;
        content: " ";
        display: block;
        float: left;
        margin: 5px 8px 0 0;
        width: 2px;
        height: 14px;
        background-color:#4391FF 
    }
}
.item_ctrl{
   width: 1490px;
}