.wrapper {
    :global {
        .ant-modal-body {
            text-align: center;
        }
        .ant-modal-content {
            padding-top: 10px;
        }
        .ant-modal-close-x {
            width: auto;
            height: auto;
            line-height: 1;
            font-size: 20px;
            margin: 10px;
        }
        .ant-spin {
            text-align: center;
        }
    }
    .image {
        max-width: 100%;
    }
}