.radioGroup {
    margin: 24px 0;
}
.totalCountWrap{
    color: #0D1A26;
    
    .totalCount{
        color: #556675;
    }
}

.overview_Card{
    padding: 32px 0;
    border: 1px solid #E6E9EB;
    border-radius: 1px;
    dl{
        text-align: center;
        border-right: 1px solid #E6E9EB;
        margin-bottom: 0;
        dt{
            margin-bottom: 2px;
            font-size: 14px;
            color: #9EA8B1;
        }
        dd{
            margin-bottom: 0;
            font-size: 32px;
            color: #0D1A26;
        }

    }
    .lastchild_dl{
        border-right: none;
    }
    
}