.guideModal{
    overflow: hidden;
    p{
        color: #556675;
        margin-bottom: 16px;
        em{
            font-style: normal;
            font-weight:bold;
            color: #0D1A26;
        }
        
    }
    button{
        margin-left: 16px;
    }
    .footer{
        margin-top: 28px;
        padding-left: 312px;
    }
}
.wrapModal{
    :global{
        .ant-modal-header{
            border: none
        }
    }
}
