@import "../../../../../style/hz/init.less";

.packetAccounts {
    .range {
        margin-top: 4px;
    }
    .packetStatistics {
        padding-bottom: 16px;
    }
    .spanTop {
        margin-top: 10px;
    }
    .money {
        color: #4391FF;
        font-weight: 800;
    }
    .explain {
        display: inline-block;
        padding-top: 5px;
    }
    
}
.modelStyle{
    :global{
        .ant-modal-content{          
            padding-bottom: 40px;
        }
    }
    
}