.autoPullModalWrapper{
    .type{
        margin: 10px 0;
        font-weight: bold;
    }
    .listWrapper{
        .searchBar{
            .radioGroup{
                margin: 20px 0;
            }
            .searchBtn{
                :global{
                    .ant-btn-primary{
                        margin-right: 30px;
                    }
                }
            }
        }
        .list{
            .tableSwitch, .memberCount{
                width: 8%;
            }
            .tableGroupLimit, .tableSort, .enableStatus, .tableGroupDivide{
                width: 10%;
            }
            .tableGroupName, .tableGroupOwner, .tableRemark{
                width: 15%;
            }
        }
    }
}

.limitModal{
    .inputWrapper{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .inputNumber{
            width: 80px;
            marginLeft: 10px;
        }
    }
}