.search_component {
    padding: 12px;
    .search {
        background: #F7F9FB;
        padding: 9px 12px;
        color: #9EA8B1;
    }
}
:global{
    .hz_theme_search_blue{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
