.successImport {
    text-align: center;
    .title {
        margin-top: 166px;
        font-size: 24px;
        font-weight: bold;
        color: #0D1A26;
        img {
            width: 41px;
            height: 41px;
            margin-right: 6px;
        }
    }
    .tips {
        margin: 24px 0;
        color: #9EA8B1;
        font-size: 14px;
    }
}