.table_margin_top {
    // margin-top: 16px;
    overflow: hidden;
}

.model_frist_btn_hidden {
    :global {
        .ant-modal-footer div > :first-child {
            display: none;
        }
    }
}
.table_separate {
    display: inline-block;
    margin: 0 10px 0 6px;
    color: #d8d8d8;
}
