.otherRow{
    padding-left:80px;
    margin-top:16px;
}
.line_height39{
    line-height: 39px;
}
.historyOrder_btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
}