.wrap{
    margin-bottom: 16px;
    color: #666;
    &:after{
        clear:both;
        content:'';
        display:block;
        width:0;
        height:0;
        visibility:hidden; 
    }
}
.title{
    float: left;
    text-align: right;
}
.content{
    float: left;
}