@import "../../../../../style/hz/init.less";

.tiphead{
    margin: 0;
    dt,
    dd {
        margin: 0;
    }

    dt {
        font-size: 14px;
    }
    dd{
        padding-top: @padding-small;
        font-size: 22px;
        color: @color-title;
    }
}
