@import '../ProductCollapse/index.less';

.add_category {
    padding: 16px;
    border: 1px solid #E6E9EB;
}
.category_content {
    margin-top: 20px;
    img {
        width: 88px;
        height: 88px;
        display: block;
    }
    div {
        font-size: 14px;
        color: #0D1A26;
        margin-top: 8px;
    }
}