@font-size: 14px; // 默认文字大小
@margin-base: 20px; // 默认外边距大小
@primary-color: #4391FF; // 主色
@font-size-color-dark: #333; // 字体颜色深/浅
@font-size-color-light: #666;
@border-color: #ECECEC; //默认边框色
@border-radius-base: 2px;

@font-size-large: 1rem;
@background-color: #F3F5F7; //默认背景色
@icon-font-size: 22px; //默认按钮大小
