@import "base";

.layout {
    background-color: #fff;
}

.content {
    overflow: auto;
    background: #fff;
    position: relative;
}

.contentSub {
    background: #fff;
    position: relative;
    padding: 0 24px;

    :global {
        .ant-form-item {
            margin-bottom: 12px;
        }

        .ant-table-thead {
            th {
                border-bottom: none;
            }
        }

        .ant-table-thead > tr {
            height: 50px;
        }

        .ant-form-item-label label {
            color: $font-size-color-light;
        }

        .ant-table-thead > tr > th {
            background: #F7F9FB;
        }

        .ant-modal-title {
            color: $font-size-color-dark;
            font-size: 14px;
        }
    }
}

.searchWrap {
    padding: 22px 22px 30px;
    background-color: #F7F9FB;

    .searchBtn {
        :global {
            .ant-col-offset-8 {
                padding: 0 !important;
            }

            .ant-btn {
                width: 80px;
                font-size: $font-size;
                margin-top: 6px;

                &:first-child {
                    margin-right: $margin-base;
                }
            }
        }
    }
}

.tableWrap {
    margin-top: 30px;
}

.textCenter {
    text-align: center;
}

.loadingWrap {
    margin: 10px 0;
    text-align: center;
}

.tipWrap {
    padding: 10px;
    text-align: center;

    .tip {
        color: #888;
    }
}

.firstColumn {
    padding-left: 30px !important;
}

.deptColumn {
    max-width: 60px;
}

.dept {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
