@import '../../../../style/hz/table.less';

.userTable{
    td{
        position: relative;
        border-right: 1px solid #E6E9EB;
        &:last-child{
            border-right: none;
        }
    } 
}
.tdSet{
    position: absolute;
    left: 16px;
    top: 16px;
}