.goodRequired:before {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
}
.selectGood {
    width: 82px;
    height: 82px;
    border: 1px solid #d9d9d9;
    position: relative;
    img {
        width: 80px;
        height: 80px;
    }
    .closeIcon {
        position: absolute;
        right: -7px;
        top: -7px;
        color: #d9d9d9;
        background: white;
        cursor: pointer;
    }
}
.goodsBox {
    display: inline-block;
    width: 82px;
    height: 82px;
    line-height: 90px;
    cursor: pointer;
    user-select: none;
    border: 1px dashed #d9d9d9;
    text-align: center;
    box-sizing: border-box;
}
.input {
    width: 240px;
}
