.main {
    padding-bottom: 20px;

    .helpBar {
        padding-top: 24px;
        display: flex;
        align-items: center;

        .right {
            margin-left: auto;
        }
    }

    .table {
        padding-top: 24px;
        .columnsContent{
            width: 18%;
            .ellipsisTxt{
                max-width: 100%;
            }
        }
    }
}
